/* Modals */

// Recalculate z-index where appropriate
.modal-open {
  .dropdown-menu {  z-index: $zindexDropdown + $zindexModal; }
  .dropdown.open { *z-index: $zindexDropdown + $zindexModal; }
  .popover       {  z-index: $zindexPopover  + $zindexModal; }
  .tooltip       {  z-index: $zindexTooltip  + $zindexModal; }
}

.below-backdrop { z-index: $zindexBelowBackdrop; }
.above-backdrop { z-index: $zindexAboveBackdrop; }
.above-modal { z-index: $zindexAboveModal; }
.above-all { z-index: $zindexAboveAll; }

// Background
#modal-backdrop {
  @include cover-viewport;
  background-color: $modalBackdropBackground;
  z-index: $zindexModalBackdrop;
  // Fade for backdrop
  // &.fade { opacity: 0; }
  // Snap for backdrop
  // &.snap { display: none; }
}

//.modal-backdrop,
#modal-backdrop.in {
  @include opacity($modalBackdropOpacity);
}

// Base modal
$modal-width:   490px;
$modal-border:  #e1e1e1;
//$modal-padding-v: baseHeights(1.5) - 3px;
//$modal-padding-h: baseHeights(1.5) - 1px;
$modal-padding-v: baseHeights(1.25);
$modal-padding-h: baseHeights(1.25) + 1px;

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  overflow: auto;
  width: $modal-width;
  margin: -280px 0 0 (0 - ($modal-width / 2));
  background-color: lighten($pageBackground, 2%);
  border: 1px solid $modal-border;
  //border: 1px solid rgba(0,0,0,.3);
  *border: 1px solid $modal-border; // ie 6-7
  border-radius: $modalBorderRadius;
  //@include box-shadow(0 3px 7px rgba(0,0,0,0.3));
  @include box-shadow(rgba(#ccc, 0.15) 0 1px 15px);
  @include background-clip(padding-box);
  z-index: $zindexModal;
  form {
    margin: 0;
  }
  &.fade,
  &.snap {
    //@include transition($modalTransition);
    //top: -25%;
  }
  &.fade.in,
  &.snap.in { top: 47.5%; }
}

// Header
.modal-header {
  padding: ($modal-padding-v * 0.75) $modal-padding-h;
  border-bottom: 1px solid #ececec;
  // Close icon
  .close { 
    @include opacity(0.24);
    font-size: 1.8em;
    margin-top: 2px;
    &:hover { @include opacity(1); }
  }
  // Heading
  h3 {
    margin: 0;
    font-weight: normal;
    font-size: 19px; // 21
    line-height: 19px; // 21
    color: #757678;
  }
}
// Errors
.modal-errors {
  word-break: break-all;
  background-color: $errorBackground;
  padding: ($modal-padding-v * 0.75) $modal-padding-h;
  border-bottom: 1px solid $errorBorder;
  color: $errorText;
}
// Body 
.modal-body {
  word-break: break-all;
  overflow-y: auto;
  max-height: 480px;
  padding: $modal-padding-v $modal-padding-h;
}
// Footer 
.modal-footer {
  padding: $modal-padding-v $modal-padding-h;
  //padding-top: $modal-padding - 1px;
  margin-bottom: 0;
  text-align: right; // Right align buttons
  background-color: $modalFooterBackground;
  border-top: 1px solid $modal-border;
  border-radius: 0 0 $modalBorderRadius $modalBorderRadius;
  // @include box-shadow(inset 0 1px 0 $white);
  @include clearfix; // In case folks use .pull-* classes on buttons

  // Button color matches background
  .btn {
    background-color: $modalFooterBackground;
    color: $textColor;
  }
  // Properly space out buttons
  .btn + .btn {
    margin-left: 6px;
    margin-bottom: 0; // Account for input[type="submit"] which gets the bottom margin like all other inputs
  }
  // but override that for button groups
  .btn-group .btn + .btn {
    margin-left: -1px;
  }
}

// Additional modal content
.modal-content {
  z-index: $zindexAboveModal;
}


// Form Actions

.actions {
  .btn {
    font-weight: $boldWeight;
    border-color: darken($modal-border, 1%);
    color: lighten($textColor, 17.5%);
    &:hover {
      background-color: darken($modalFooterBackground, 2.5%);
      border-color: darken($modal-border, 3%);
      color: $textColor;
    }
  }
  input[type="submit"], .btn-primary {
    background-color: $textColor;
    border-color: $textColor;
    color: $white;
    &:hover {
      background-color: $accentColor;
      border-color: $accentColor;
      color: $white;
    }
  }
}
