/* Switchboard */

$useRemUnits:          false !default;
$adjustKerning:         true !default;

$useSelectionColors:    true !default;
$useScrollbarColors:    true !default;

$useButtonGradient:     true !default;
$useButtonBorder:       true !default;
$useBtnForSubmits:      true !default;

/* Optimization */

$allowTransitions:      true !default;
$allowTextSmoothing:    true !default;
$allowGradients:        true !default;