/* Switchboard */

$useRemUnits:          false !default;
$adjustKerning:         true !default;

$useSelectionColors:    true !default;
$useScrollbarColors:    true !default;

$useButtonGradient:     true !default;
$useButtonBorder:       true !default;
$useBtnForSubmits:      true !default;

// Optimization
$allowAnimation:        true !default;
$allowTransitions:      true !default;
$allowTextSmoothing:    true !default;
$allowGradients:        true !default;
$allowShadows:          true !default;
$allowTransparency:     true !default;
$allowAcceleration:     true !default;