
// Resize anything
@mixin resizable($direction) {
  resize: $direction; // Options: horizontal, vertical, both
  overflow: auto; 		// Safari fix
}

// Element (and any inline children) should behave like an anchor
@mixin clickable() {
  pointer-events: auto;
  cursor: pointer;
  span, b, em, ins, del {
    cursor: pointer;
  } 
}

// Allow click events to pass through to children
// NOTE: Not supported by IE or Opera
/*@mixin pass-through-events() {
	pointer-events: none;
	.clickable, a, button {
	  @include clickable;
	}
	input, select, textarea { 
		pointer-events: auto; 
	}
}*/

// Allow text selection
@mixin selectable() {
  @include user-select(text);
}

// http://nicolasgallagher.com/micro-clearfix-hack
@mixin clearfix {
  zoom: 1;

  &:before,
  &:after {
    content: "";
    display: table;
    line-height: 0; // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
  }

  &:after {
    clear: both;
  }
}


// IE7 likes to collapse whitespace on either side of the inline-block elements.
// Ems because we're attempting to match the width of a space character. Left
// version is for form buttons, which typically come after other elements, and
// right version is for icons, which come before. Applying both is ok, but it will
// mean that space between those elements will be .6em (~2 space characters) in IE7,
// instead of the 1 space in other browsers.
@mixin ie7-restore-left-whitespace() {
  *margin-left: .3em;
  &:first-child {
    *margin-left: 0;
  }
}

@mixin ie7-restore-right-whitespace() {
  *margin-right: .3em;
}
