/*
 * Normalize.css
 * Adapted from http://github.com/necolas/normalize.css
 */

// Display in IE6-9 and FF3
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
  display: block;
}

// Display block in IE6-9 and FF3
audio,canvas,video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

// Prevent modern browsers from displaying 'audio' without controls
audio:not([controls]) {
	display: none;
}

html {
  font-size: 100%; // 62.5%
 -webkit-overflow-scrolling: touch;
-webkit-tap-highlight-color: rgba(0,0,0,0); // Kill mobile tap highlight
   -webkit-text-size-adjust: 100%; // Kill mobile landscape zoom
       -ms-text-size-adjust: 100%;
}
html,body {
	height: 100%;
	margin: 0;
	padding: 0;
}

// Focus states
a:focus {
  @include tab-focus();
}
// Hover & Active
a:hover,a:active {
  outline: 0;
}

// Prevents sub and sup affecting line-height in all browsers
sub,sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup { 
	top: -0.5em; 
}
sub { 
	bottom: -0.25em; 
}

// Img border in <a> and image quality
img {
  max-width: 100%;
  vertical-align: middle;
  border-width: 0;
  -ms-interpolation-mode: bicubic;
}

// SVG
svg:not(:root) {
	overflow: hidden; 
}

// iframes
iframe html,iframe html body,div iframe {
	width: 100%;
	height: 100%;
}

// Prevent max-width from affecting Google Maps
#map_canvas img {
  max-width: none;
}

// Font size in all browsers, margin changes, misc consistency
button,input,select,textarea {
	font-size: 100%;
  margin: 0;
  vertical-align: middle;
}
button,input {
  *overflow: visible; 				// Inner spacing ie IE6/7
  line-height: normal; 				// FF3/4 have !important on line-height in UA stylesheet
}
button::-moz-focus-inner,input::-moz-focus-inner {  // Inner padding and border oddities in FF3/4
  padding: 0;
  border: 0;
}
button,input[type="button"],input[type="reset"],input[type="submit"] {
  cursor: pointer; 						// Cursors on all buttons applied consistently
  -webkit-appearance: button; // Style clickable inputs in iOS
}
input[type="checkbox"],input[type="radio"] {
	cursor: pointer;
}
input[type="search"] { 				// Appearance in Safari/Chrome
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; 	// Inner-padding issues in Chrome OSX, Safari 5
}
textarea {
  overflow: auto; 						// Remove vertical scrollbar in IE6-9
  vertical-align: top; 				// Readability and alignment cross-browser
}
