
.structural {
  @include structural-list;
}

.structural-lists {
  ul, ol { @include structural-list; }
}

.clearfix {
  @include clearfix;
}

.hide-text {
  @include hide-text;
}

.ir {
  //@include ir;
}

.overlay {
  position: absolute;
  @include fill;
}

.input-block-level {
  @include input-block-level;
}

.bright {
  color: $accentColor;
}

.adaptive {
  @include adaptive-images;
}

.v-adaptive {
  @include images-fill-height;
}

.img-contrast {
  @include image-rendering(optimize-contrast);
}
